#include <windows.h>

#pragma code_page(65001) // UTF-8

#define STRINGIZE(x) #x
#define EXPAND(x) STRINGIZE(x)
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST manifest.xml
7 ICON ui/netbird.ico
wintun.dll RCDATA wintun.dll
