.idea
.run
*.iml
dist/
bin/
.env
conf.json
http-cmds.sh
infrastructure_files/artifacts/management.json
infrastructure_files/artifacts/management-*.json
infrastructure_files/artifacts/docker-compose.yml
infrastructure_files/artifacts/openid-configuration.json
infrastructure_files/artifacts/turnserver.conf
management/management
client/client
client/client.exe
*.syso
client/.distfiles/
infrastructure_files/setup.env
infrastructure_files/setup-*.env
.vscode
.DS_Store
*.db