<!doctype html>
{{ range . }}
{{ if eq .Key "pin" }}
<form>
    <input name={{ . }} />
    <button type=submit></button>
</form>
{{ else if eq .Key "password" }}
<form>
    <input name={{ . }} />
    <button type=submit></button>
</form>
{{ end }}
{{ end }}
