<!doctype html>
{{ range $method, $value := .Methods }}
{{ if eq $method "pin" }}
<form>
    <label for={{ $value }}>PIN:</label>
    <input name={{ $value }} id={{ $value }} />
    <button type=submit></button>
</form>
{{ else if eq $method "password" }}
<form>
    <label for={{ $value }}>Password:</label>
    <input name={{ $value }} id={{ $value }}/>
    <button type=submit></button>
</form>
{{ end }}
{{ end }}
