[Desktop Entry]
Name=Wiretrustee UI
Exec=/usr/bin/wiretrustee-ui
Icon=wiretrustee
Type=Application
Terminal=false
Categories=Utility;
Keywords=wiretrustee;
