[req]
distinguished_name = req_dn
req_extensions = v3_req
prompt = no

[req_dn]
CN = win10-pc.corp.local

[v3_req]
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth
subjectAltName = DNS:win10-pc.corp.local
