{{ template "header.html" . }}

<div class="nb-card">
    <div style="text-align:center;margin-bottom:24px">
        <svg height="48" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <circle cx="50" cy="50" fill="none" r="45" stroke="#5cb85c" stroke-width="3"/>
            <path d="M30 50 L45 65 L70 35" fill="none" stroke="#5cb85c" stroke-width="5"/>
        </svg>
    </div>
    <h1 class="nb-heading">Device Authorized</h1>
    <p class="nb-subheading">
        Your device has been successfully authorized. You can close this window.
    </p>
</div>

{{ template "footer.html" . }}