name: Test Code Linux
on: [push,pull_request]

jobs:
  test:
    strategy:
      matrix:
        arch: ['386','amd64']
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18.x


      - name: Cache Go modules
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: sudo apt update && sudo apt install -y -q libgtk-3-dev libappindicator3-dev libayatana-appindicator3-dev libgl1-mesa-dev xorg-dev

      - name: Install modules
        run: go mod tidy

      - name: Test
        run: GOARCH=${{ matrix.arch }} go test -exec 'sudo --preserve-env=CI' -timeout 5m -p 1 ./...

  test_client_on_docker:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18.x


      - name: Cache Go modules
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: sudo apt update && sudo apt install -y -q libgtk-3-dev libappindicator3-dev libayatana-appindicator3-dev libgl1-mesa-dev xorg-dev

      - name: Install modules
        run: go mod tidy

      - name: Generate Iface Test bin
        run: go test -c -o iface-testing.bin ./iface/...

      - name: Generate RouteManager Test bin
        run: go test -c -o routemanager-testing.bin ./client/internal/routemanager/...

      - name: Generate Engine Test bin
        run: go test -c -o engine-testing.bin ./client/internal/*.go

      - name: Generate Peer Test bin
        run: go test -c -o peer-testing.bin ./client/internal/peer/...

      - run: chmod +x *testing.bin

      - name: Run Iface tests in docker
        run: docker run -t --cap-add=NET_ADMIN --rm -v $PWD:/ci gcr.io/distroless/base:debug /ci/iface-testing.bin

      - name: Run RouteManager tests in docker
        run: docker run -t --cap-add=NET_ADMIN --rm -v $PWD:/ci gcr.io/distroless/base:debug /ci/routemanager-testing.bin

      - name: Run Engine tests in docker
        run: docker run -t --cap-add=NET_ADMIN --rm -v $PWD:/ci gcr.io/distroless/base:debug /ci/engine-testing.bin

      - name: Run Peer tests in docker
        run: docker run -t --cap-add=NET_ADMIN --rm -v $PWD:/ci gcr.io/distroless/base:debug /ci/peer-testing.bin